name: Build Check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.5.1
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    
    - name: Build
      run: |
        . /opt/esp/idf/export.sh
        idf.py build

        